<div class="header-wrapper">
    <div #topHeader class="row top-header">
        <div class="col-lg-6 col-md-6 phone-wrapper">
            <div class="phone-call-icon"></div>
            <div class="phone-number"> Call: +234 8130000</div>
        </div>
        <div class="col-lg-6 col-md-6 social-media-links-wrapper">
            <div class="float-right-content social-media-twitter"></div>
            <div class="float-right-content social-media-instagram"></div>
            <div class="float-right-content social-media-facebook"></div>
            <div class="float-right-content login-content">
                <div class="user-icon"></div>
                <div>
                    <span>Login</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mid-header">
        <div class="col-lg-4 col-md-4 search-bar-wrapper">
            <div class="search-icon"></div>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 logo">
            <img src="assets/images/home_images/tees4drip_redesign.png">
        </div>
        <div class="col-lg-4 col-md-4 cart-wrapper">
            <div class="cart-icon"></div>
            <div class="cart-amount">
                $0.00
            </div>
        </div>
    </div>
    <div class="row bottom-header">
        <diV class="menu-items col-lg-6 col-md-12">
            <ul>
                <li>
                    HOME
                </li>
                <li>
                    SHOP
                </li>
                <li>
                    LOOKBOOK
                </li>
                <li>
                    ABOUT
                </li>
                <li>
                    CONTACT
                </li>
            </ul>
        </diV>
        <div class="template-statement col-lg-6 col-md-12">
            <div class="template-statement-diamond">

            </div>
            <p>LOREM IPSUM SOME TEXT</p>
        </div>
    </div>
</div>
