<div class="container-wrapper">
    <div class="container">
        <div class="row content-and-links gx-3">
            <div class="col-xl-3 col-lg-12 col-md-12">
                <h6>
                    OUR MESSAGE
                </h6>
                <p>
                    TEES4DRIP STRIVES TO SERVE YOU WITH THE RAREST AND HIGH-END VINTAGE STEEZE TO KEEP YOU DRIPPING
                </p>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
                <h6>
                    NAVIGATION
                </h6>
                <a routerLink="/">
                    HOME
                </a>
                <a routerLink="/products">
                    SHOP
                </a>
                <a routerLink="/lookbook">
                    LOOKBOOK
                </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
                <h6>
                    MY STUFF
                </h6>
                <a routerLink="/cart">
                    CART
                </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
                <h6>
                    TEES4DRIP
                </h6>
                <a routerLink="/contact-us">
                    CONTACT US
                </a>
            </div>
        </div>
        <div class="row cards-and-logo">
            <div class="row cards">
                <img src="assets/images/home_images/creditCardLogos.png">
            </div>
            <div class="row logo">
                <img src="assets/images/home_images/tees4drip_white.png">
            </div>
            <div class="row copyright">
                <p>&#xA9; 2022 Tees 4 Drip</p>
            </div>
        </div>
    </div>
</div>