<div class="container-wrapper">
    <div class="container">
        <div class="row content-and-links gx-3">
            <div class="col-xl-3 col-lg-12 col-md-12">
                <h6>
                    OUR MESSAGE
                </h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Sed in tincidunt nunc, a imperdiet lorem. 
                    Pellentesque eu leo ac dui vehicula sodales sed eu felis. 
                    Sed at lectus pharetra, sollicitudin lacus at, porta odio. 
                </p>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
                <h6>
                    USEFUL LINKS
                </h6>
                <a href="#">
                    Lorem ipsum 
                </a>
                <a href="#">
                    Dolor Sit Amet
                </a>
                <a href="#">
                    Consectetur Adipiscing 
                </a>
                <a href="#">
                    Sed In Tincidunt
                </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
                <h6>
                    CUSTOMER SERVICE
                </h6>
                <a href="#">
                    Lorem ipsum 
                </a>
                <a href="#">
                    Dolor Sit Amet
                </a>
                <a href="#">
                    Consectetur Adipiscing 
                </a>
                <a href="#">
                    Sed In Tincidunt
                </a>
                <a href="#">
                    Dolor Sit Amet
                </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
                <h6>
                    MY ACCOUNT
                </h6>
                <a href="#">
                    Lorem ipsum 
                </a>
                <a href="#">
                    Dolor Sit Amet
                </a>
                <a href="#">
                    Consectetur Adipiscing 
                </a>
                <a href="#">
                    Sed In Tincidunt
                </a>
                <a href="#">
                    Dolor Sit Amet
                </a>
            </div>
        </div>
        <div class="row cards-and-logo">
            <div class="row cards">
                <img src="assets/images/home_images/creditCardLogos.png">
            </div>
            <div class="row logo">
                <img src="assets/images/home_images/tees4drip_white.png">
            </div>
            <div class="row copyright">
                <p>&#xA9; 2021 Tees 4 Drip</p>
            </div>
        </div>
    </div>
</div>