@import "~swiper/swiper.min.css";
@import "~swiper/modules/pagination/pagination.min.css";
@import "~swiper/modules/navigation/navigation.min.css";

.section-identifier {
    background-image: url("/assets/images/background_images/checkout_background.png");
}

.section-header { 
    font-size: 18px;
    text-align: center;
 }

 .payment-type {
     text-align: center;
 }

 .payment-type a {
     width: 90%;
 }

.cart-summary, .shipping-info {
    padding: 20px 25px;
    font-family: 'Lato';
    width: 70%;
}

.cart-summary * {
    font-size: 18px;
}

.cart-total-header {
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
}

.cart-sub-total-wrapper, .total-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.total-wrapper {
    padding-top: 20px;
}

.total-wrapper * {
    font-size: 20px;
    color: #51ab13;
    font-weight: 700;
}

.cart-sub-total-wrapper {
    border-bottom: 1px solid rgb(219, 219, 219);
}

.cart-sub-total-wrapper h2:first-child {
    font-weight: 100;
}

.proceed-to-checkout > button {
    width: clamp(120px, 80%, 400px);
    background-color: #383838;
    color: white;
    border: none;
    height: 100%;
    transition: 0.2s;
    padding: 8px;
}

.proceed-to-checkout > button:hover {
    background-color: #51AB13;
}

.proceed-to-checkout > button * {
    margin: 0 5px;
    font-weight: 100;
}

.proceed-to-checkout {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.secondary-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-content {
    padding: 20px;
}

.cart-content > .row:first-child {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5px;
    font-weight: 100;
}

.cart-content > .row:not(:first-child) {
    padding: 20px 0;
    border-bottom: 1px solid #efefef;
}

.cart-item-image {
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.recommended-products {
    min-height: 300px;
    text-align: center;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 60px 0;
}

.swiper-pagination {
    bottom: -5px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper > div > div > div {
    height: 260px;
    transition: 0.2s;
}

.swiper > div > div > div > a > div:first-child {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
}

.swiper > div > div > div > a > div:nth-child(2) {
    transition: 0.4s;
    background-color: white;
}

.swiper > div > div:hover > div > a > div:nth-child(2) {
    transform: translateY(-100%);
}

.swiper > div > div {
    overflow-y: hidden;
}

.add-to-cart-button-wrapper > button {
    width: 100%;
    height: 35px;
    font-size: 16px;
    border: none;
    font-weight: 100;
    background-color: black;
    color: white;
    transition: 0.2s;
}

.add-to-cart-button-wrapper > button:hover {
    background-color: #51ab13;
}

.product-description-wrapper > h5 {
    padding: 12px 12px 0 12px;
    font-size: 18px;
}

.main-content {
    display: flex;
    justify-content: center;
}

.payment-icon {
    margin-right: 5px;
}

.billing-info {
    width: 50%;
}

.payment-selection-row {
    margin-bottom: 18px;
}

input:focus {
    border-color: dimgrey!important;
    box-shadow: inset 0 0 0 1px dimgrey!important;
}

.place-order {
    padding: 14px 45px;
    font-size: 15px;
    margin-bottom: 38px;
    margin-top: 18px;
}