<app-header class="desktop" #fixedHeader [fixed]="true"></app-header>
<app-header class="desktop" #relativeHeader></app-header>
<app-header-mobile class="mobile" #relativeHeaderMobile></app-header-mobile>
<app-header-mobile
  class="mobile"
  #fixedHeaderMobile
  [fixed]="true"
></app-header-mobile>
<div class="container-fluid">
  <div class="row">
    <div class="section-identifier">
      <p>CHECKOUT</p>
    </div>
  </div>
  <div
    *ngIf="underMaintenance"
    style="padding: 100px 30px; text-align: center; font-size: 30px"
  >
    Currently under maintenance till <b>02/07/2022</b>. Stay tuned!
  </div>
  <div class="container" *ngIf="!underMaintenance">
    <div class="row relative-path">
      <ul>
        <li>Home</li>
        <li>
          <fa-icon [icon]="faChevronRight"></fa-icon>
          <span>Checkout</span>
        </li>
      </ul>
    </div>
    <div class="row main-content">
      <div class="cart-summary">
        <div class="col-xl-12 col-lg-12 col-md-12 cart-content">
          <p class="section-header">CART SUMMARY</p>
          <div class="row">
            <div class="col-4 col-xl-7 col-lg-7 col-md-7">Item</div>
            <div class="col-3 col-xl-2 col-lg-2 col-md-2 secondary-column">
              Price
            </div>
          </div>
          <div class="row" *ngFor="let cartItem of cartItems">
            <div class="col-7 col-xl-7 col-lg-7 col-md-7">
              <div class="row">
                <div
                  class="col-12 col-xl-2 col-lg-2 col-md-2 cart-item-image"
                  style="background-image: url({{ cartItem.image }});"
                ></div>
                <div class="col-10 col-xl-10 col-lg-10 col-md-10">
                  <div class="row">
                    <div
                      class="col-12 col-xl-12 col-lg-12 col-md-12 cart-item-name"
                    >
                      {{ cartItem.name }}
                    </div>
                    <div class="col-12 col-xl-12 col-lg-12 col-md-12">
                      Color: Black
                    </div>
                    <div class="col-12 col-xl-12 col-lg-12 col-md-12">
                      Size: Small
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-2 col-xl-2 col-lg-2 col-md-2 cart-item-price secondary-column"
            >
              ${{ cartItem.price | currency : "NGN" : "" }}
            </div>
          </div>
        </div>
        <div class="cart-total-info">
          <div>Sub Total: ${{ cartSubTotal | currency : "NGN" : "" }}</div>
          <div>
            Estimated Shipping: ${{ estimatedShipping | currency : "NGN" : "" }}
          </div>
          <div style="font-weight: 600">
            Total: ${{ cartTotal | currency : "NGN" : "" }}
          </div>
        </div>
      </div>

      <hr />
      <form
        [formGroup]="orderForm"
        style="
          justify-content: center;
          display: flex;
          flex-direction: column;
          align-items: center;
        "
      >
        <div
          class="order-error-messages"
          style="color: #ff7a7a; font-size: 20px; font-weight: 600"
        >
          {{ errorMessage }}
        </div>
        <div class="shipping-info">
          <p class="section-header">SHIPPING DETAILS</p>
          <div class="md-form input-group mb-3">
            <input
              required
              formControlName="customerFullName"
              type="text"
              class="form-control"
              placeholder="Full Name"
              aria-label="Full Name"
              aria-describedby="material-addon1"
              aria-autocomplete="list"
            />
          </div>
          <div class="md-form input-group mb-3">
            <input
              required
              formControlName="customerEmail"
              type="text"
              class="form-control"
              placeholder="Email"
              aria-label="Email"
              aria-describedby="material-addon1"
              aria-autocomplete="list"
            />
          </div>
          <div class="md-form input-group mb-3">
            <input
              required
              formControlName="customerPhoneNumber"
              type="text"
              class="form-control"
              placeholder="Phone Number"
              aria-label="Phone"
              aria-describedby="material-addon1"
              aria-autocomplete="list"
            />
          </div>
          <div class="md-form input-group mb-3">
            <input
              required
              formControlName="customerShippingStreetAddress1"
              type="text"
              aria-label="Street Address 1"
              class="form-control"
              placeholder="Street Address 1"
              aria-autocomplete="list"
            />
            <input
              formControlName="customerShippingStreetAddress2"
              type="text"
              aria-label="Street Address 2"
              class="form-control"
              placeholder="Street Address 2"
              aria-autocomplete="list"
            />
          </div>
          <div class="md-form input-group mb-3">
            <input
              required
              formControlName="customerShippingCity"
              type="text"
              aria-label="City"
              class="form-control"
              placeholder="City"
              aria-autocomplete="list"
            />
            <input
              (focusout)="setShipping()"
              required
              formControlName="customerShippingState"
              type="text"
              aria-label="State"
              class="form-control"
              placeholder="State"
              aria-autocomplete="list"
            />
          </div>
          <div class="md-form input-group mb-3">
            <input
              (focusout)="setShipping()"
              required
              formControlName="customerShippingCountry"
              type="text"
              aria-label="Country"
              class="form-control"
              placeholder="Country"
              aria-autocomplete="list"
            />
            <input
              formControlName="customerShippingZipCode"
              type="text"
              aria-label="Zip Code"
              class="form-control"
              placeholder="Zip Code"
              aria-autocomplete="list"
            />
          </div>
          <div class="cart-total-info">
            <div>Sub Total: ${{ cartSubTotal | currency : "NGN" : "" }}</div>
            <div>
              Estimated Shipping: ${{
                estimatedShipping | currency : "NGN" : ""
              }}
            </div>
            <div style="font-weight: 600">
              Total: ${{ cartTotal | currency : "NGN" : "" }}
            </div>
          </div>
        </div>

        <hr />
        <div class="billing-info" *ngIf="ahowSelfOwnedCardDetails">
          <p class="section-header">BILLING DETAILS</p>
          <div class="row justify-content-center payment-selection-row">
            <div class="col-5 payment-type">
              <a
                class="btn btn-primary"
                style="background-color: #9cff57; color: dimgrey"
                role="button"
                ><i class="fab fa-cc-visa payment-icon"></i>Card</a
              >
            </div>
            <div class="col-5 payment-type">
              <a
                class="btn btn-primary"
                style="background-color: dimgrey"
                role="button"
                ><i class="fab fa-paypal payment-icon"></i>PayPal</a
              >
            </div>
          </div>
          <div class="md-form input-group mb-3">
            <input
              formControlName="creditCardFullName"
              type="text"
              class="form-control"
              placeholder="Full Name"
              aria-label="Full Name"
              aria-describedby="material-addon1"
            />
          </div>
          <div class="md-form input-group mb-3">
            <input
              formControlName="creditCardNumber"
              type="text"
              class="form-control"
              placeholder="Valid card number"
              aria-label="Card Number"
              aria-describedby="material-addon1"
            />
          </div>
          <div class="md-form input-group mb-3">
            <span class="input-group-text">Month</span>
            <input
              formControlName="creditCardMonth"
              type="text"
              aria-label="Month"
              class="form-control"
              placeholder="MM"
            />
            <span class="input-group-text">Year</span>
            <input
              formControlName="creditCardYear"
              type="text"
              aria-label="Year"
              class="form-control"
              placeholder="YY"
            />
            <input
              formControlName="creditCardCvv"
              type="text"
              aria-label="Cvv"
              class="form-control"
              placeholder="CVV"
            />
          </div>
        </div>
        <div style="text-align: center">
          <button
            type="button"
            class="btn btn-dark place-order"
            (click)="createOrder()"
          >
            <i class="fas fa-money-check payment-icon"></i>
            Place Order
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
