.bolden {
  font-weight: 800;
}

.card-title {
  font-weight: bold;
}

.existing-orders-holder {
  border: 2px solid black;
  background-color: #f4f4f4;
  padding: 20px;
  min-height: 500px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.order {
  max-height: 320px;
}

.order-number {
  color: #459be7;
}
