<div class="container-fluid">
  <header class="comp-description">
    <span> All Orders </span>
    <span> - Manage all the orders from the last 6 months </span>
  </header>
  <div class="existing-orders-holder">
    <div *ngFor="let order of allOrders" class="card order">
      <div class="card-body">
        <p>{{ order.createdAt | dateFromDatetime }}</p>
        <span class="order-number">#{{ order.orderNumber }}</span>
        <h5 class="card-title">
          {{ order.customerFirstName }} {{ order.customerLastName }} -
          {{ order.customerEmail }}
        </h5>
        <p class="card-text">
          {{ getCardDeliveryText(order) }}
        </p>
        <p class="card-text">
          {{ getOrderedItemsCount(order) }}
        </p>
        <p class="card-text bolden">
          {{ getFormattedOrderTotalText(order.orderTotal) }}
        </p>
        <button
          type="button"
          class="btn btn-primary"
          (click)="viewOrder(order)"
        >
          View
        </button>
      </div>
    </div>
  </div>
</div>
