<div class="row header-wrapper">
    <div class="row top-header align-items-center">
        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <div class="menu-icon" (click)="basicCollapse.toggle()">

            </div>
        </div>
        <div style="display: flex; justify-content: center;" class="col-lg-4 col-md-4 col-sm-4 col-4 logo">
            <img src="assets/images/home_images/tees4drip_redesign.png">
        </div>
        <div  class="col-lg-4 col-md-4 col-sm-4 col-4 cart-and-login-wrapper">
            <div class="cart-icon"></div>
            <div style="text-align: center;" class="cart-amount">
                <a routerLink="/cart">&#8358;{{ cartTotal | currency:'NGN':'' }}
                </a>
            </div>
        </div>
    </div>
    <div class="mt-3" id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse">
        <diV class="menu-items">
            <ul>
                <li>
                    <a routerLink="/">
                        HOME
                    </a>
                </li>
                <li>
                    <a routerLink="/products">
                        SHOP
                    </a>
                </li>
                <li>
                    <a routerLink="/lookbook">
                        LOOKBOOK
                    </a>
                </li>
                <li>
                    <a routerLink="/contact-us">
                        CONTACT US
                    </a>
                </li>
            </ul>
        </diV>
      </div>
</div>
