@import "~swiper/swiper.min.css";
@import "~swiper/modules/pagination/pagination.min.css";
@import "~swiper/modules/navigation/navigation.min.css";

.section-identifier {
    background-image: url("/assets/images/background_images/cart_background.png");
}

.cart-summary {
    background-color: #f8f8f8;
    padding: 20px 25px;
    font-family: 'Lato';
    margin: 10px;
}

.cart-summary * {
    font-size: 14px;
}

.cart-total-header {
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
}

.cart-sub-total-wrapper, .total-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.total-wrapper {
    padding-top: 20px;
}

.total-wrapper * {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}

.cart-sub-total-wrapper {
    border-bottom: 1px solid rgb(219, 219, 219);
}

.cart-sub-total-wrapper h2:first-child {
    font-weight: 100;
}

.proceed-to-checkout > button {
    width: clamp(120px, 80%, 400px);
    background-color: #383838;
    color: white;
    border: none;
    height: 100%;
    transition: 0.2s;
    padding: 8px;
}

.proceed-to-checkout {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.place-order i {
    margin-right: 10px;
}

.secondary-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-content {
    padding: 20px;
}

.cart-content > .row:first-child {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5px;
    font-weight: 600;
    margin-bottom: 15px;
}

.cart-content > .row:not(:first-child) {
    padding: 20px 0;
    border-bottom: 1px solid #efefef;
}

.cart-item-image {
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.recommended-products {
    min-height: 300px;
    text-align: center;
    padding: 60px 100px 100px 100px;
}
