<app-header #fixedHeader [fixed]="true"></app-header>
<app-header #relativeHeader></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="section-identifier">
            <p>
                ALL PRODUCTS
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row relative-path">
            <ul>
                <li>
                    Home
                </li>
                <li>
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                    <span>Products</span>
                </li>
            </ul>
        </div>
        <div class="row main-content">
            <div class="col-xl-3 col-lg-3 col-md-3 filter-wrapper">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 filter-header-text">
                        Filter
                    </div>
                    <div>
                        <category-filter filterName="Category" [dataValues]="categories"></category-filter>
                    </div>
                    <div>
                        <category-filter filterName="Size" [dataValues]="sizes"></category-filter>
                    </div>
                    <div>
                        <color-filter></color-filter>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 filter-update-wrapper">
                        <button type="button" class="btn btn-outline-success btn-rounded">
                            update
                          </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 results-wrapper">
                 <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 results-information">
                        <div>
                            Showing 24 of 345 results
                        </div>
                        <div>
                            <div mdbDropdown class="dropdown">
                                <button
                                  class="btn btn-light dropdown-toggle"
                                  type="button"
                                  id="dropdownMenuButton"
                                  aria-expanded="false"
                                  mdbDropdownToggle
                                >
                                  A - Z
                                </button>
                                <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <li><a class="dropdown-item" href="#">Z - A</a></li>
                                  <li><a class="dropdown-item" href="#">Price Ascending</a></li>
                                  <li><a class="dropdown-item" href="#">Price Descending</a></li>                                
                                  <li><a class="dropdown-item" href="#">Newest</a></li>                                
                                  <li><a class="dropdown-item" href="#">Oldest</a></li>                                
                                </ul>
                              </div>
                        </div>
                    </div>
                    <div class="row gx-3">
                        <div class="product-cell col-xl-4 col-lg-4 col-md-4">
                            <div class="product-image" style="background-image: url(/assets/images/product_images/test1.png);"></div>
                            <div class="product-information">
                                <p>WALKING DEAD TEE</p>
                                <p>&#8358; 2,000</p>
                                <div class="cart-outer-wrapper">
                                    <div class="cart-wrapper">
                                        <fa-icon [icon]="faCartPlus"></fa-icon>
                                        <span>
                                            ADD TO CART
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-cell col-xl-4 col-lg-4 col-md-4">
                            <div class="product-image" style="background-image: url(/assets/images/product_images/test2.png);"></div>
                            <div class="product-information">
                                <p>WALKING DEAD TEE</p>
                                <p>&#8358; 2,000</p>
                                <div class="cart-outer-wrapper">
                                    <div class="cart-wrapper">
                                        <fa-icon [icon]="faCartPlus"></fa-icon>
                                        <span>
                                            ADD TO CART
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-cell col-xl-4 col-lg-4 col-md-4">
                            <div class="product-image" style="background-image: url(/assets/images/product_images/test3.png);"></div>
                            <div class="product-information">
                                <p>WALKING DEAD TEE</p>
                                <p>&#8358; 2,000</p>
                                <div class="cart-outer-wrapper">
                                    <div class="cart-wrapper">
                                        <fa-icon [icon]="faCartPlus"></fa-icon>
                                        <span>
                                            ADD TO CART
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-cell col-xl-4 col-lg-4 col-md-4">
                            <div class="product-image" style="background-image: url(/assets/images/product_images/test4.png);"></div>
                            <div class="product-information">
                                <p>WALKING DEAD TEE</p>
                                <p>&#8358; 2,000</p>
                                <div class="cart-outer-wrapper">
                                    <div class="cart-wrapper">
                                        <fa-icon [icon]="faCartPlus"></fa-icon>
                                        <span>
                                            ADD TO CART
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                 </div>
            </div>

        </div>
    </div>
</div>