<div class="container-fluid">
  <header class="comp-description">
    <span> All Products </span>
    <span> - Manage all the products currently available on the site </span>
  </header>
  <div class="existing-products-holder">
    <div class="row" style="justify-content: space-between !important">
      <div class="product-filter">
        <h3>Filter products by name</h3>
        <div>
          <input
            [(ngModel)]="productFilter"
            (ngModelChange)="onSearch($event)"
            placeholder="some product name"
          />
        </div>
        <div *ngIf="filteredAvailableProducts.length === 0">
          No products match the given filter
        </div>
      </div>
      <div
        class="existing-product col-5"
        *ngFor="let product of filteredAvailableProducts"
      >
        <div class="row">
          <button
            class="delete-button"
            (click)="openDeleteConfirmation(product)"
          >
            DELETE
          </button>
        </div>
        <div class="row product-image-holder">
          <img style="width: 300px" src="{{ product.images[0] }}" />
        </div>
        <div class="row product-alt-image-holder">
          <img style="width: 150px" src="{{ product.images[1] }}" />
          <img style="width: 150px" src="{{ product.images[2] }}" />
        </div>
        <div class="row update-product-form-holder">
          <form #productForm="ngForm" class="update-product-form">
            <input hidden name="id" [ngModel]="product.id" />
            <fieldset class="centered">
              <input type="text" name="name" [ngModel]="product.productName" />
              <input
                [(ngModel)]="product.images[0]"
                type="text"
                name="mainImage"
                placeholder="Main Image"
              />
              <input
                [(ngModel)]="product.images[1]"
                type="text"
                name="altImage1"
                placeholder="Alt Image 1"
              />
              <input
                [(ngModel)]="product.images[2]"
                type="text"
                name="altImage2"
                placeholder="Alt Image 2"
              />
            </fieldset>
            <fieldset>
              <div class="cat-label">Quantity in Stock</div>
              <input
                name="quantityAvailable"
                [ngModel]="product.quantityAvailable"
                type="text"
              />
            </fieldset>
            <fieldset>
              <div class="cat-label">Price in NGN</div>
              <input name="priceNgn" [ngModel]="product.ngn" type="text" />
            </fieldset>
            <fieldset>
              <div class="cat-label">Price in USD</div>
              <input name="priceUsd" [ngModel]="product.usd" type="text" />
            </fieldset>
            <fieldset>
              <div class="cat-label">Description</div>
              <textarea name="description" [ngModel]="product.description">
              </textarea>
            </fieldset>
            <fieldset>
              <div class="cat-label">Category</div>
              <select
                name="category"
                [ngModel]="product.category.toLowerCase()"
              >
                <option
                  *ngFor="let category of availableCategories"
                  value="{{ category.name }}"
                >
                  {{ category.name }}
                </option>
              </select>
            </fieldset>
            <fieldset>
              <div class="cat-label">Colors</div>
              <ng-container *ngFor="let color of availableColors">
                <div
                  style="display: inline-block; width: clamp(60px, 25%, 200px)"
                >
                  <input
                    name="{{ color.name }}"
                    [ngModel]="isChecked(color.name, product.colors)"
                    id="{{ color.name }}-{{
                      product.productName | turnIntoIdentifier
                    }}"
                    type="checkbox"
                    value="{{ color.name }}"
                  />
                  <label
                    for="{{ color.name }}-{{
                      product.productName | turnIntoIdentifier
                    }}"
                    style="margin-left: 10px"
                  >
                    {{ color.name }}
                  </label>
                </div>
              </ng-container>
            </fieldset>
            <fieldset>
              <div class="cat-label">Sizes</div>
              <ng-container *ngFor="let size of availableSizes">
                <div
                  style="display: inline-block; width: clamp(30px, 15%, 80px)"
                >
                  <input
                    name="{{ size.name }}"
                    [ngModel]="isChecked(size.name, product.sizes)"
                    id="{{ size.name }}-{{
                      product.productName | turnIntoIdentifier
                    }}"
                    type="checkbox"
                    value="{{ size.name }}"
                  />
                  <label
                    for="{{ size.name }}-{{
                      product.productName | turnIntoIdentifier
                    }}"
                    style="margin-left: 10px"
                  >
                    {{ size.name }}
                  </label>
                </div>
              </ng-container>
            </fieldset>
            <button
              class="save-changes-button"
              (click)="onSaveFormSubmit(productForm)"
            >
              SAVE CHANGES
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
