.existing-product {
  padding: 30px;
  margin: 50px;
  margin-top: 20px;
  border: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cancel-button {
  width: 100px;
  background-color: white;
  border-radius: 3px;
  transition: 0.2s;
  border: none;
}

.cancel-button:hover {
  background-color: #efefef;
}

.delete-button {
  width: 100px;
  color: white;
  background-color: #fca5a5;
  border-radius: 3px;
  transition: 0.2s;
  border: none;
}

.delete-button:hover {
  background-color: #ec7d7d;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.product-image-holder {
  justify-content: center;
  margin-top: 25px;
}

.product-filter input {
  margin: 10px;
  padding: 5px 5px 5px 10px;
  width: 90%;
}

.product-filter {
  margin: 12px 36px;
}

.main-dialog {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.update-product-form,
.update-product-form fieldset {
  display: flex;
  align-items: center;
}

.update-product-form,
.update-product-form fieldset.centered {
  justify-content: center;
  flex-direction: column;
}

.cat-label {
  color: #827f7f;
  font-weight: 200;
}

.update-product-form fieldset:not(.centered) {
  width: 90%;
  border: 2px solid #d5d4d4;
  padding: 8px;
  margin: 4px 0;
}

.update-product-form input[type="text"] {
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  width: 90%;
  outline: yellowgreen;
}

.update-product-form-holder {
  justify-content: center;
}

.save-changes-button {
  background-color: #5ea5f8;
  color: white;
  padding: 10px 30px;
  border-radius: 6px;
  margin-top: 18px;
  transition: 0.2s;
  border: none;
}

.save-changes-button:hover {
  background-color: #4898f3;
}

.existing-products-holder {
  border: 2px solid black;
  background-color: white;
  min-height: 500px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

form fieldset {
  flex-direction: row !important;
  flex-wrap: wrap;
}

form fieldset div {
  width: 100%;
}

textarea {
  width: 100%;
  border: 1px solid silver;
  border-radius: 4px;
}
