<div class="container-fluid">
  <header class="comp-description">
    <span> Add a new product </span>
    <span>
      - Add a new product to the site (The item name must be unique!)
    </span>
  </header>
  <div class="new-product-holder">
    <div>
      <button class="restart-button" (click)="clearInputs()">RESTART</button>
      <form class="new-product-form" [formGroup]="productForm">
        <div style="text-align: center">
          <img [src]="getMainImage" style="width: 400px" />
        </div>
        <div class="row product-alt-image-holder">
          <img style="width: 150px" src="{{ getImageByIndex(1) }}" />
          <img style="width: 150px" src="{{ getImageByIndex(2) }}" />
        </div>
        <fieldset style="display: flex; flex-direction: column">
          <input
            placeholder="Product Name"
            type="text"
            formControlName="name"
          />
          <input
            placeholder="Quantity Available"
            type="number"
            formControlName="quantityAvailable"
          />
          <input
            placeholder="Image URL 1"
            type="text"
            formControlName="mainImage"
          />
          <input
            placeholder="Image URL 2"
            type="text"
            formControlName="image2"
          />
          <input
            placeholder="Image URL 3"
            type="text"
            formControlName="image3"
          />
        </fieldset>
        <fieldset>
          <textarea
            placeholder="Product Description"
            formControlName="description"
          ></textarea>
        </fieldset>
        <fieldset style="display: flex; flex-direction: column">
          <input
            placeholder="Naira Price"
            type="number"
            formControlName="ngn"
          />
          <input
            placeholder="Dollar Price"
            type="number"
            formControlName="usd"
          />
        </fieldset>
        <fieldset>
          <div class="cat-label">Category</div>
          <select formControlName="category" name="category">
            <option
              *ngFor="let category of availableCategories"
              value="{{ category.name }}"
            >
              {{ category.name }}
            </option>
          </select>
        </fieldset>
        <fieldset>
          <div class="cat-label">Colors</div>
          <ng-container *ngFor="let color of availableColors">
            <div style="display: inline-block; width: clamp(60px, 25%, 200px)">
              <input
                (change)="colorChanged($event)"
                name="{{ color.name }}"
                id="{{ color.name }}"
                type="checkbox"
                value="{{ color.name }}"
              />
              <label for="{{ color.name }}" style="margin-left: 10px">
                {{ color.name }}
              </label>
            </div>
          </ng-container>
        </fieldset>
        <fieldset>
          <div class="cat-label">Sizes</div>
          <ng-container *ngFor="let size of availableSizes">
            <div style="display: inline-block; width: clamp(30px, 15%, 80px)">
              <input
                (change)="sizeChanged($event)"
                name="{{ size.name }}"
                id="{{ size.name }}"
                type="checkbox"
                value="{{ size.name }}"
              />
              <label for="{{ size.name }}" style="margin-left: 10px">
                {{ size.name }}
              </label>
            </div>
          </ng-container>
        </fieldset>
        <div style="text-align: center">
          <button class="save-product-button" (click)="submitNewProduct()">
            SAVE PRODUCT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
