<div class="container-fluid">
    <header class="comp-description">
        <span>
            Add a new product
        </span>
        <span>
            - Add a new product to the site (The item name must be unique!)
        </span>
    </header>
    <div class="new-product-holder">
        <div>
            <button class="restart-button">
                RESTART
            </button>
            <form class="new-product-form" [formGroup]="productForm">
                <div style="text-align: center;">
                    <img [src]="getMainImage" style="width: 400px;"/>
                </div>
                <fieldset style="display: flex; flex-direction: column;">
                    <input placeholder="Product Name" type="text" formControlName="name"/>
                    <input placeholder="Image URL 1" type="text" formControlName="mainImage"/>
                    <input placeholder="Image URL 2" type="text" formControlName="image2"/>
                    <input placeholder="Image URL 3" type="text" formControlName="image3"/>
                </fieldset>
                <fieldset>
                    <textarea placeholder="Product Description" formControlName="desc"></textarea>
                </fieldset>
                <fieldset style="display: flex; flex-direction: column;">
                    <input placeholder="Naira Price" type="number" formControlName="ngn"/>
                    <input placeholder="Dollar Price" type="number" formControlName="usd"/>
                </fieldset>
                <fieldset style="margin: 15px 0;">
                    <div class="cat-label">
                        Category
                    </div>
                    <select formControlName="category" style="font-size: 18px;
                    padding: 6px 20px;">
                        <option *ngFor="let category of availableCategories" value="{{ category }}" >{{ category }}</option>
                    </select>
                </fieldset>
                <fieldset>
                    <div class="cat-label">
                        Colors
                    </div>
                    <ng-container *ngFor="let color of availableColors">
                        <div style="display: inline-block; width: clamp(60px, 25%, 200px);">
                            <input name="color" id="{{color}}" type="radio" value="{{color}}" formControlName="color">
                            <label for="{{color}}" style="margin-left: 10px;">
                                {{ color }}
                            </label>
                        </div>
                    </ng-container>
                </fieldset>
                <fieldset>
                    <div class="cat-label">
                        Sizes
                    </div>
                    <ng-container *ngFor="let size of availableSizes">
                        <div style="display: inline-block; width: clamp(60px, 25%, 200px);">
                            <input name="size" id="{{size}}" type="radio" value="{{size}}" formControlName="size">
                            <label for="{{size}}" style="margin-left: 10px;">
                                {{ size }}
                            </label>
                        </div>
                    </ng-container>
                </fieldset>
                <div style="text-align: center;">
                    <button class="save-product-button" (click)="submitNewProduct()">
                        SAVE PRODUCT
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
