<app-header class="desktop" #fixedHeader [fixed]="true"></app-header>
<app-header class="desktop" #relativeHeader></app-header>
<app-header-mobile class="mobile" #relativeHeaderMobile></app-header-mobile>
<app-header-mobile class="mobile" #fixedHeaderMobile [fixed]="true"></app-header-mobile>

<div class="container-fluid full-site">
    <div class="row">
        <div class="section-identifier">
            <p>
                LOOKBOOK
            </p>
        </div>
    </div>
    <div class="container">
        <div class="lookbook-identifier">
            THRIFTKON
        </div>
        <div class="sectionA">

        </div>
        <div class="sectionB">
            
        </div>
        <div class="sectionC">
            
        </div>
        <div class="sectionD">
            
        </div>
        <div class="sectionE">
            
        </div>
        <div class="sectionF">
            
        </div>
        <div class="sectionG">
            
        </div>
        <div class="sectionH">
            
        </div>
        <div class="sectionI">
            
        </div>
        <!-- <div class="sectionJ">
            
        </div>
        <div class="sectionK">
            
        </div>
        <div class="sectionL">
            
        </div>
        <div class="sectionM">
            
        </div>
        <div class="sectionN">
            
        </div>
        <div class="sectionO">
            
        </div>
        <div class="sectionP">
            
        </div>
        <div class="sectionQ">
            
        </div>
        <div class="sectionR">
            
        </div> -->
    </div>
</div>
<div class="coming-soon">
    <div class="col-lg-4 col-md-4 logo">
        <img src="assets/images/home_images/tees4drip_redesign.png">
    </div>
    <div class="col-lg-4 col-md-4" style="font-family: 'Drip'; font-size: 18px">
        Page coming to mobile soon
    </div>
</div>
<app-footer></app-footer>

