<app-header class="desktop" #fixedHeader [fixed]="true"></app-header>
<app-header class="desktop" #relativeHeader></app-header>
<app-header-mobile class="mobile" #relativeHeaderMobile></app-header-mobile>
<app-header-mobile class="mobile" #fixedHeaderMobile [fixed]="true"></app-header-mobile>

<div class="container-fluid">
    <div class="row">
        <div class="section-identifier">
            <p>
                LOOKBOOK
            </p>
        </div>
    </div>
    <div class="container">
        <div class="sectionA">

        </div>
        <div class="sectionB">
            
        </div>
        <div class="sectionC">
            
        </div>
    </div>
</div>
<app-footer></app-footer>
