@font-face {
    font-family: drip;
    src: url("/assets/fonts/Drip.ttf")
}

* {
    font-family: 'Lato', sans-serif;
}

.carousel-indicators {
    margin-inline: auto !important;
}

.add-to-cart-button-wrapper {
    margin: 0 auto;
    width: 85%;
}

.add-to-cart-button-wrapper > button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    transition: 0.2s;
    font-family: sans-serif;
    font-weight: 600;
}

.add-to-cart-button-wrapper > button:hover {
    background-color: #51AB13;
}

.add-to-cart-button-wrapper > button > * {
    margin: 0 5px;
    font-size: 14px;
}

.carousel-caption {
    bottom: 40%;
    font-weight: 900;
    font-family: drip;
    
}

.carousel-caption > h5
{
    font-size: 90px;
    font-family: drip;

}

.drip > img {
    width: 400px;
    margin-top: -32px;
}

.img-wrapper > img {
    width: 100%;
}

.main-content {
    margin-top: 30px;
}

.header-carousel-wrapper {
    height: 500px;
}

.tee-category {
    height: 500px;
    margin: 10px;
}

.tee-category:hover .overlay {
    opacity: 1;
}

.cat-1 {
    background: url("/assets/images/home_images/graphic_poster.PNG") no-repeat center;
    background-size: contain;
}

.cat-2 {
    background: url("/assets/images/home_images/pants_poster.JPG") no-repeat center;
    background-size: contain;
}

.new-arrivals {
    margin: 20px 0;
    --button-height:50px;
}

.new-arrivals  > div {
    overflow-y: hidden;
    /* cursor: pointer; */
    margin-top: 15px;
    /* transition: 0.1s; */
}

.new-arrivals > div > div {
    height: 460px;
    transition: 0.2s;
}

.new-arrivals > div > div > a > div:first-child {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 420px;
    padding: 20px;
}

/* .new-arrivals > div:hover > div {
    --pseudo-transform: -50%;
    transform: translateY(calc(var(--pseudo-transform)));
} */

.new-arrivals-button, .new-arrivals-header, .new-arrivals-header > h1 {
    width: 100%;
}

.slime {
    font-family: 'Drip';
    color: #9CFF57;
}

.newsletter-image {
    background: url(/assets/images/home_images/newsletter.PNG) no-repeat center;
    background-size: cover;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.newsletter-wrapper {
    margin: 100px 0;
}

.new-arrivals-header > h1 {
    color: black;
    text-align: center;
    padding: 20px 0;
    margin: 100px auto;
    font-size: 25px;
    width: 30%;
    border-bottom: 1px solid #51ab13;
}

.new-arrivals-wrapper {
    margin-bottom: 100px;
}

.newsletter-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.newsletter-text input {
    outline: none;
    border: none;
    transition: 0.2s;
    padding: 10px 30px;
}

.newsletter-text input:focus {
    
    outline: 1px solid silver;
}
.newsletter-image-overlay {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.new-arrivals-button {
    display: flex;
    justify-content: center;
}

.new-arrivals-button a{
    display: flex;
    justify-content: center;
}

.new-arrivals-button button {
    width: 160px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    color: black;
    transition: 0.2s;
}

.new-arrivals-button button:hover {
    color: white;
    background-color: black;
}

.new-product-wrapper {
    cursor: pointer;
}

.overlay {
    opacity: 0;
    display: flex;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    transition: 0.2s;
    cursor: pointer;
}

.overlay p {
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}

.page-split-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-split {
    text-align: center;
}

.page-split > h6 {
    font-family: 'Drip', sans-serif;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-weight: 500;
}

.page-split > p {
    color: #9b9c9c;
}

.page-split > img {
    width: 55px;
}

.page-split-wrapper {
    min-height: 220px;
    margin: 30px 0;
    background-color: rgb(37,36,36);
    background-color: linear-gradient(36deg, rgba(37,36,36,1) 0%, rgba(52,51,51,1) 100%);
    background-image: url(/assets/images/background_images/home_middle_background.png);
    padding: 45px 0;
}

.product-description-wrapper {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 0;
    font-weight: 700;
}

.product-description-wrapper > h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subscription-header > p {
    font-weight: bold;
    font-size: 21px;
}

.subscription-button {
    margin-top: 20px;
}

.subscription-button > button {
    width: 160px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    color: black;
    transition: 0.2s;
}

.subscription-button > button:hover {
    color: white;
    background-color: black;
}

.text-and-input{ 
    flex-direction: column;
}

.product-cell > img {
    height: 100%;
}

.product-image {
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-cell {
    height: 420px;
    margin-bottom: 20px;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
    /* padding: 0; */
}

.product-cell:hover {
    box-shadow: -1px 1px 15px #c2c4c0;
}

.product-cell:hover  .cart-outer-wrapper{
    opacity: 1;
}

.product-cell:hover  .cart-outer-wrapper-2{
    opacity: 1;
}

.product-information > p:first-child {
    margin-top: 8px;
    font-family: 'Lato';
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 30ch;
    overflow: hidden;
    margin: 8px auto 0 auto;
}
.product-information > p {
    margin-bottom: 0px;
    margin-top: 4px;
}

.results-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.results-information div:first-child {
    font-family: 'Lato';
    font-weight: 200;
}

.cart-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 180px;
}

.cart-outer-wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid #313131;
    padding: 6px;
    margin: 0 18px;
    margin-top: 5px;
    transition: 0.2s;
    opacity: 0;
}

.cart-outer-wrapper-2 {
    display: flex;
    justify-content: center;
    padding: 6px;
    margin: 0 18px;
    margin-top: 5px;
    transition: 0.2s;
    opacity: 0;
}

.cart-outer-wrapper:hover {
    background-color: #383838;
    border: 1px solid #383838;
}

.cart-outer-wrapper:hover span, .cart-outer-wrapper:hover fa-icon {
    color: #fff;
}

mdb-carousel-item > div:first-child {
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.soon-come {
    font-family: 'drip';
    font-size: 23px;
    color: #006229;
}

.sold-out {
    font-family: 'drip';
    font-size: 30px;
    text-align: center;
    color: #f8a4a4;
}

@media screen and (max-width: 992px) {

    .tee-category {
        height: 312px;
        margin-bottom: 40px;
    }

    .overlay {
        opacity: 1;
    }

    .cat-1, .cat-2{
        background-size: contain;
        background-position: top;
    }

    .new-arrivals > div > div, .product-cell {
        height: 360px;
    }
    
    .product-cell:hover {
        box-shadow: 0px 0px 0px #fff;
    }
    
    .product-cell:hover  .cart-outer-wrapper{
        opacity: 0;
    }

    .newsletter-image {
        height: 300px;
    }

    .soon-come {
        text-align: center;
    }

    mdb-carousel-item > div:first-child {
        height: 300px;
    }

    .subscription-button {
        justify-content: center;
    }

    .subscription-header,  .text-and-input{
        text-align: center;
    }

    .carousel-caption {
        bottom: 60px;
    }

    .new-arrivals-header > h1 {
        padding: 14px 0;
        margin: 10px auto;
        font-size: 22px;
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    /* Hide Desktop header and show mobile */
    .page-split {
        padding-top: 45px;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .carousel-caption h5 {
        font-size: 24px;
    }

    .carousel-caption p {
        font-size: 14px;
    }

}