<div class="container-fluid content-holder">
    <div class="row">
        <div class="navigation">
            <div class="sections">
                <div class="upper-sections">
                    <div class="logo-holder">
                        <img src="assets/images/home_images/tees4drip_redesign.png">
                    </div>
                    <div class="page-navigation">
                        <ul>
                            <li>
                                Orders
                            </li>
                            <li>
                                All Products
                            </li>
                            <li>
                                Add New Product
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lower-sections">
                    <!-- put a line break here -->
                    <button type="button" class="btn btn-dark place-order">
                        Back To Store
                    </button>
                </div>
            </div>
        </div>
        <main class="main-content">
            <div class="top-header">
                Tees4Drip
            </div>
            <div class="inner-comp-holder">
                <app-all-products>

                </app-all-products>
            </div>
        </main>
    </div>
</div>
