<div class="container-fluid content-holder">
  <div class="row">
    <div class="navigation">
      <div class="sections">
        <div class="upper-sections">
          <div class="logo-holder">
            <img src="assets/images/home_images/tees4drip_redesign.png" />
          </div>
          <div class="page-navigation">
            <ul>
              <a routerLink="/admin/orders">
                <li>Orders</li>
              </a>
              <a routerLink="/admin/">
                <li>All Products</li>
              </a>
              <a routerLink="/admin/addProduct">
                <li>Add New Product</li>
              </a>
            </ul>
          </div>
        </div>
        <div class="lower-sections">
          <!-- put a line break here -->
          <a routerLink="/">
            <button type="button" class="btn btn-dark place-order">
              Back To Store
            </button>
          </a>
        </div>
      </div>
    </div>
    <main class="main-content">
      <div class="top-header">Tees4Drip</div>
      <div class="inner-comp-holder">
        <router-outlet> </router-outlet>
      </div>
    </main>
  </div>
</div>
