<app-header class="desktop" #fixedHeader [fixed]="true"></app-header>
<app-header class="desktop" #relativeHeader></app-header>
<app-header-mobile class="mobile" #relativeHeaderMobile></app-header-mobile>
<app-header-mobile class="mobile" #fixedHeaderMobile [fixed]="true"></app-header-mobile>

<div class="container-fluid">
    <div class="row">
        <div class="section-identifier">
            <p>
                Order complete
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row relative-path">
            <ul>
                <li>
                    Home
                </li>
                <li>
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                    <span>Order Placed</span>
                </li>
            </ul>
        </div>
        <div class="row main-content">
            <div class="truck-gif-parent">
                <img src="assets/images/icons/truck_driving.gif" />
            </div>
            <div class="order-text">
                <p style="    margin-bottom: 0;
                font-size: 25px;
                font-weight: 300;">
                    ORDER NUMBER:
                </p>
            </div>
            <div class="order-text">
                <p style="    margin-bottom: 10px;
                color: #51ab13;
                font-weight: 600;
                font-size: 22px;">
                    {{ orderNumber }}
                </p>
            </div>
            <div class="order-text">
                <p>
                    Thank you for shopping with us. Your drip will be on the way to you soon. In the meantime, sit back and relax while we get it over to you.
                </p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>